<h1> Home Page </h1>


<a href="http://127.0.0.1:8000"> Bosh sahifa </a>
<br>
<a href="http://127.0.0.1:8000/contact"> Kontactlar sahifasi </a>
<br>
<a href="http://127.0.0.1:8000/profile"> Profil sahifasi </a>


<style>
    h1 {
        color: blue;
        font-family: sans-serif;
        text-align: center;
        font-size: 50px;
        font-weight: 500;
    }
    a {
        text-decoration: none;
        font-family: sans-serif;
        font-size: 24px;
        color: red;
    }
</style>