<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

{% include 'components/_navbar.html' %}

<h1> Home Page </h1>

{% if request.user.is_authenticated %}
<p> Assalomu aleykum {{ request.user.last_name }} {{ request.user.first_name }}</p>
{% else %}
<p> Ushbu sahifaga kirish uchun tizimga kirish talab etiladi</p>
{% endif %}

{% comment %} {% for pr in product%}
<div class = "Table">
    <h5> </h5>
    <p>  </p>
</div>
{% endfor %} {% endcomment %}
<div class = "Table">
    {% for pr in product %}
        <div class="card" style="width: 18rem;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZtJ3ByJ4FnQRGy7bdbW-aF89CsFL34o_Vcw&s" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Mahsulot nomi : {{pr.name}}</h5>
            <p class="card-text">Narxi : {{pr.price}}</p>
            <a href="#" class="btn btn-primary">BUY</a>
        </div>
        </div>
    {% endfor %}
</div>

<style>

    .Table {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;
        margin: 10px;
        padding: 10px;
        
    }    
</style>

