<div>
    <a href="/"> Bosh sahifa </a>
    <a href="/contact/"> Kontactlar sahifasi </a>
    <a href="/profile/"> Profil sahifasi </a>
</div>

<style>
    * {
        padding: 0;
        margin: 0;
    }
    body{
        color: white;
        background-color: 0A1128;
    }
    div {
        display: flex;
        justify-content: center;
        gap: 20px;
        background-color: #090C02;
        padding: 15px 0;
    }
    div > a {
        text-decoration: none;
        font-family: sanf-serif;
        font-size: 20px;
        color: white;
    }

</style>